@import "tailwindcss";

.grid-header {
  @apply grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 gap-x-4 md:gap-x-6 lg:gap-x-8;
}

.container-main {
  @apply max-w-350 px-4 md:px-8 lg:px-12 xl:mx-auto;
}

.container-global-header {
  @apply max-w-500 px-4 md:px-8 lg:px-6 xl:mx-auto;
}

.grid-main {
  @apply grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 gap-10;
}
@theme {
	--color-base-c: #fbfbfb;
	--color-sub-c: #f6f3f1;
	--color-acc-c: #FFA67D;
	--color-text-c: #6E4B33;
}

.aaa {
	background-color:#FFA67D;
}

.content-html h2 {
	display:inline-block;
	font-size: 1.4em;
	background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 65%, #FFA67D 35%);
	margin-top: 40px;
	margin-bottom: 20px;
}
.content-html h3 {
	font-size: 1.2em;
	margin-bottom: 12px;
}

.content-html h2 + h3 {
	margin-top: 0px;
}

.content-html ul {
	margin-left: 24px;
}

.content-html ul li a {
	color: rgba(6, 143, 255, 0.786);
}

.content-html ul li a:hover {
	opacity: 50%;
}

.content-html li {
	margin-bottom: 16px;
}
.content-html li ul {
	margin-top: 4px;
}
.content-html li ul li {
	margin-bottom: 4px;
}

.content-html p:has(img) {
	margin: 28px 0;
}
.content-html img {
	object-fit: cover;
	border-radius: 6px;
	aspect-ratio: 16 / 9;
}

.content-html p {
	line-height: 2.0;
}

.content-html hr {
	margin-top: 12px;
}

.content-html .formulate {
	margin-top: 100px;
	line-height: 2.0;
}
.content-html p a {
	text-decoration:underline;
	text-decoration-color: #FFA67D;
}

.content-html p a:hover {
	color: #FFA67D;
}